
<!-- [@spring.message 'license.pageGenerated'/] : 16 avr. 2015 16:46:47 -->

	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>[@spring.message 'license.projectName'/]</th>
				<th>[@spring.message 'license.projectVersion'/]</th>
				<th>[@spring.message 'license.projectArtefact'/]</th>
				<th>[@spring.message 'license.projectURL'/]</th>
				<th>[@spring.message 'license.projectLicences'/]</th>
			</tr>
		</thead>
		<tbody>
    			
    			<tr>
					<td>
							AntLR Parser Generator
					</td>
					<td>2.7.7</td>
					<td>antlr:antlr</td>
					<td>
							<a href="http://www.antlr.org/" target="_blank" class="noAjax">
								http://www.antlr.org/
							</a>
					</td>
					<td>
        					BSD Style License<br/>
					</td>
				</tr>
    			
    			<tr>
					<td>
							AOP alliance
					</td>
					<td>1.0</td>
					<td>aopalliance:aopalliance</td>
					<td>
							<a href="http://aopalliance.sourceforge.net" target="_blank" class="noAjax">
								http://aopalliance.sourceforge.net
							</a>
					</td>
					<td>
        					Public Domain<br/>
					</td>
				</tr>
    			
    			<tr>
					<td>
							ClassMate
					</td>
					<td>1.0.0</td>
					<td>com.fasterxml:classmate</td>
					<td>
							<a href="http://github.com/cowtowncoder/java-classmate" target="_blank" class="noAjax">
								http://github.com/cowtowncoder/java-classmate
							</a>
					</td>
					<td>
        					The Apache Software License, Version 2.0<br/>
					</td>
				</tr>
    			
    			<tr>
					<td>
							Jackson-annotations
					</td>
					<td>2.3.0</td>
					<td>com.fasterxml.jackson.core:jackson-annotations</td>
					<td>
							<a href="http://wiki.fasterxml.com/JacksonHome" target="_blank" class="noAjax">
								http://wiki.fasterxml.com/JacksonHome
							</a>
					</td>
					<td>
        					GNU Lesser General Public License, Version 2.1<br/>
        					The Apache Software License, Version 2.0<br/>
					</td>
				</tr>
    			
    			<tr>
					<td>
							Jackson-core
					</td>
					<td>2.3.3</td>
					<td>com.fasterxml.jackson.core:jackson-core</td>
					<td>
							<a href="http://wiki.fasterxml.com/JacksonHome" target="_blank" class="noAjax">
								http://wiki.fasterxml.com/JacksonHome
							</a>
					</td>
					<td>
        					GNU Lesser General Public License, Version 2.1<br/>
        					The Apache Software License, Version 2.0<br/>
					</td>
				</tr>
    			
    			<tr>
					<td>
							jackson-databind
					</td>
					<td>2.3.3</td>
					<td>com.fasterxml.jackson.core:jackson-databind</td>
					<td>
							<a href="http://wiki.fasterxml.com/JacksonHome" target="_blank" class="noAjax">
								http://wiki.fasterxml.com/JacksonHome
							</a>
					</td>
					<td>
        					GNU Lesser General Public License, Version 2.1<br/>
        					The Apache Software License, Version 2.0<br/>
					</td>
				</tr>
    			
    			<tr>
					<td>
							Spring Test DBUnit
					</td>
					<td>1.1.0</td>
					<td>com.github.springtestdbunit:spring-test-dbunit</td>
					<td>
							<a href="https://springtestdbunit.github.com/spring-test-dbunit" target="_blank" class="noAjax">
								https://springtestdbunit.github.com/spring-test-dbunit
							</a>
					</td>
					<td>
        					The Apache Software License, Version 2.0<br/>
					</td>
				</tr>
    			
    			<tr>
					<td>
							FindBugs-jsr305
					</td>
					<td>1.3.9</td>
					<td>com.google.code.findbugs:jsr305</td>
					<td>
							<a href="http://findbugs.sourceforge.net/" target="_blank" class="noAjax">
								http://findbugs.sourceforge.net/
							</a>
					</td>
					<td>
        					The Apache Software License, Version 2.0<br/>
					</td>
				</tr>
    			
    			<tr>
					<td>
							Guava: Google Core Libraries for Java
					</td>
					<td>18.0</td>
					<td>com.google.guava:guava</td>
					<td>
							<a href="http://code.google.com/p/guava-libraries/guava" target="_blank" class="noAjax">
								http://code.google.com/p/guava-libraries/guava
							</a>
					</td>
					<td>
        					The Apache Software License, Version 2.0<br/>
					</td>
				</tr>
    			
    			<tr>
					<td>
							Bridge method injection annotations
					</td>
					<td>1.13</td>
					<td>com.infradna.tool:bridge-method-annotation</td>
					<td>
							<a href="http://bridge-method-injector.infradna.com/bridge-method-annotation/" target="_blank" class="noAjax">
								http://bridge-method-injector.infradna.com/bridge-method-annotation/
							</a>
					</td>
					<td>
        					The MIT License<br/>
					</td>
				</tr>
    			
    			<tr>
					<td>
							c3p0
					</td>
					<td>0.9.2.1</td>
					<td>com.mchange:c3p0</td>
					<td>
							<a href="https://github.com/swaldman/c3p0" target="_blank" class="noAjax">
								https://github.com/swaldman/c3p0
							</a>
					</td>
					<td>
        					Eclipse Public License, Version 1.0<br/>
        					GNU Lesser General Public License, Version 2.1<br/>
					</td>
				</tr>
    			
    			<tr>
					<td>
							mchange-commons-java library
					</td>
					<td>0.2.3.4</td>
					<td>com.mchange:mchange-commons-java</td>
					<td>
							<a href="https://github.com/swaldman/mchange-commons-java" target="_blank" class="noAjax">
								https://github.com/swaldman/mchange-commons-java
							</a>
					</td>
					<td>
        					Eclipse Public License, Version 1.0<br/>
        					GNU Lesser General Public License, Version 2.1<br/>
					</td>
				</tr>
    			
    			<tr>
					<td>
							Codegen
					</td>
					<td>0.6.5</td>
					<td>com.mysema.codegen:codegen</td>
					<td>
							<a href="http://www.github.com/mysema/codegen" target="_blank" class="noAjax">
								http://www.github.com/mysema/codegen
							</a>
					</td>
					<td>
        					The Apache Software License, Version 2.0<br/>
					</td>
				</tr>
    			
    			<tr>
					<td>
							lang
					</td>
					<td>0.2.4</td>
					<td>com.mysema.commons:mysema-commons-lang</td>
					<td>
							<a href="http://www.github.com/mysema/mysema-commons-lang" target="_blank" class="noAjax">
								http://www.github.com/mysema/mysema-commons-lang
							</a>
					</td>
					<td>
        					The Apache Software License, Version 2.0<br/>
					</td>
				</tr>
    			
    			<tr>
					<td>
							Querydsl - APT support
					</td>
					<td>3.6.2</td>
					<td>com.mysema.querydsl:querydsl-apt</td>
					<td>
							<a href="http://www.querydsl.com" target="_blank" class="noAjax">
								http://www.querydsl.com
							</a>
					</td>
					<td>
        					Apache License, Version 2.0<br/>
					</td>
				</tr>
    			
    			<tr>
					<td>
							Querydsl - Codegen module
					</td>
					<td>3.6.2</td>
					<td>com.mysema.querydsl:querydsl-codegen</td>
					<td>
							<a href="http://www.querydsl.com" target="_blank" class="noAjax">
								http://www.querydsl.com
							</a>
					</td>
					<td>
        					Apache License, Version 2.0<br/>
					</td>
				</tr>
    			
    			<tr>
					<td>
							Querydsl - Core module
					</td>
					<td>3.6.2</td>
					<td>com.mysema.querydsl:querydsl-core</td>
					<td>
							<a href="http://www.querydsl.com" target="_blank" class="noAjax">
								http://www.querydsl.com
							</a>
					</td>
					<td>
        					Apache License, Version 2.0<br/>
					</td>
				</tr>
    			
    			<tr>
					<td>
							Querydsl - JPA support
					</td>
					<td>3.6.2</td>
					<td>com.mysema.querydsl:querydsl-jpa</td>
					<td>
							<a href="http://www.querydsl.com" target="_blank" class="noAjax">
								http://www.querydsl.com
							</a>
					</td>
					<td>
        					Apache License, Version 2.0<br/>
					</td>
				</tr>
    			
    			<tr>
					<td>
							Apache Commons BeanUtils
					</td>
					<td>1.9.2</td>
					<td>commons-beanutils:commons-beanutils</td>
					<td>
							<a href="http://commons.apache.org/proper/commons-beanutils/" target="_blank" class="noAjax">
								http://commons.apache.org/proper/commons-beanutils/
							</a>
					</td>
					<td>
        					The Apache Software License, Version 2.0<br/>
					</td>
				</tr>
    			
    			<tr>
					<td>
							Commons Collections
					</td>
					<td>3.2.1</td>
					<td>commons-collections:commons-collections</td>
					<td>
							<a href="http://commons.apache.org/collections/" target="_blank" class="noAjax">
								http://commons.apache.org/collections/
							</a>
					</td>
					<td>
        					The Apache Software License, Version 2.0<br/>
					</td>
				</tr>
    			
    			<tr>
					<td>
							Commons FileUpload
					</td>
					<td>1.2.2</td>
					<td>commons-fileupload:commons-fileupload</td>
					<td>
							<a href="http://commons.apache.org/fileupload/" target="_blank" class="noAjax">
								http://commons.apache.org/fileupload/
							</a>
					</td>
					<td>
        					The Apache Software License, Version 2.0<br/>
					</td>
				</tr>
    			
    			<tr>
					<td>
							Commons IO
					</td>
					<td>1.3.2</td>
					<td>commons-io:commons-io</td>
					<td>
							<a href="http://jakarta.apache.org/commons/io/" target="_blank" class="noAjax">
								http://jakarta.apache.org/commons/io/
							</a>
					</td>
					<td>
        					The Apache Software License, Version 2.0<br/>
					</td>
				</tr>
    			
    			<tr>
					<td>
							Commons Lang
					</td>
					<td>2.4</td>
					<td>commons-lang:commons-lang</td>
					<td>
							<a href="http://commons.apache.org/lang/" target="_blank" class="noAjax">
								http://commons.apache.org/lang/
							</a>
					</td>
					<td>
        					The Apache Software License, Version 2.0<br/>
					</td>
				</tr>
    			
    			<tr>
					<td>
							Commons Logging
					</td>
					<td>1.1.1</td>
					<td>commons-logging:commons-logging</td>
					<td>
							<a href="http://commons.apache.org/logging" target="_blank" class="noAjax">
								http://commons.apache.org/logging
							</a>
					</td>
					<td>
        					The Apache Software License, Version 2.0<br/>
					</td>
				</tr>
    			
    			<tr>
					<td>
							dom4j
					</td>
					<td>1.6.1</td>
					<td>dom4j:dom4j</td>
					<td>
							<a href="http://dom4j.org" target="_blank" class="noAjax">
								http://dom4j.org
							</a>
					</td>
					<td>
        					BSD Style License<br/>
					</td>
				</tr>
    			
    			<tr>
					<td>
							HSQLDB
					</td>
					<td>1.8.0.10</td>
					<td>hsqldb:hsqldb</td>
					<td>
							<a href="http://hsqldb.org/" target="_blank" class="noAjax">
								http://hsqldb.org/
							</a>
					</td>
					<td>
        					HSQLDB License<br/>
					</td>
				</tr>
    			
    			<tr>
					<td>
							JavaBeans Activation Framework (JAF)
					</td>
					<td>1.1</td>
					<td>javax.activation:activation</td>
					<td>
							<a href="http://java.sun.com/products/javabeans/jaf/index.jsp" target="_blank" class="noAjax">
								http://java.sun.com/products/javabeans/jaf/index.jsp
							</a>
					</td>
					<td>
        					Common Development and Distribution License (CDDL) v1.0<br/>
					</td>
				</tr>
    			
    			<tr>
					<td>
							Expression Language 3.0 API
					</td>
					<td>3.0.0</td>
					<td>javax.el:javax.el-api</td>
					<td>
							<a href="http://uel-spec.java.net" target="_blank" class="noAjax">
								http://uel-spec.java.net
							</a>
					</td>
					<td>
        					Dual license consisting of the CDDL v1.1 and GPL v2 with classpath
									exception<br/>
					</td>
				</tr>
    			
    			<tr>
					<td>
							javax.inject
					</td>
					<td>1</td>
					<td>javax.inject:javax.inject</td>
					<td>
							<a href="http://code.google.com/p/atinject/" target="_blank" class="noAjax">
								http://code.google.com/p/atinject/
							</a>
					</td>
					<td>
        					The Apache Software License, Version 2.0<br/>
					</td>
				</tr>
    			
    			<tr>
					<td>
							JavaMail API (compat)
					</td>
					<td>1.4.7</td>
					<td>javax.mail:mail</td>
					<td>
							<a href="http://kenai.com/projects/javamail/mail" target="_blank" class="noAjax">
								http://kenai.com/projects/javamail/mail
							</a>
					</td>
					<td>
        					CDDL<br/>
        					GPLv2+CE<br/>
					</td>
				</tr>
    			
    			<tr>
					<td>
							Java Servlet API
					</td>
					<td>3.0.1</td>
					<td>javax.servlet:javax.servlet-api</td>
					<td>
							<a href="http://servlet-spec.java.net" target="_blank" class="noAjax">
								http://servlet-spec.java.net
							</a>
					</td>
					<td>
        					Dual license consisting of the CDDL v1.1 and GPL v2 with classpath
									exception<br/>
					</td>
				</tr>
    			
    			<tr>
					<td>
							jsp-api
					</td>
					<td>2.0</td>
					<td>javax.servlet:jsp-api</td>
					<td>
							[@spring.message 'license.unknown'/]
					</td>
					<td>
        					Unknown license<br/>
					</td>
				</tr>
    			
    			<tr>
					<td>
							servlet-api
					</td>
					<td>2.4</td>
					<td>javax.servlet:servlet-api</td>
					<td>
							[@spring.message 'license.unknown'/]
					</td>
					<td>
        					Unknown license<br/>
					</td>
				</tr>
    			
    			<tr>
					<td>
							Bean Validation API
					</td>
					<td>1.1.0.Final</td>
					<td>javax.validation:validation-api</td>
					<td>
							<a href="http://beanvalidation.org" target="_blank" class="noAjax">
								http://beanvalidation.org
							</a>
					</td>
					<td>
        					The Apache Software License, Version 2.0<br/>
					</td>
				</tr>
    			
    			<tr>
					<td>
							JUnit
					</td>
					<td>4.11</td>
					<td>junit:junit</td>
					<td>
							<a href="http://junit.org" target="_blank" class="noAjax">
								http://junit.org
							</a>
					</td>
					<td>
        					Common Public License Version 1.0<br/>
					</td>
				</tr>
    			
    			<tr>
					<td>
							freemarker-template-inheritance
					</td>
					<td>0.4.RELEASE</td>
					<td>kr.pe.kwonnam.freemarker:freemarker-template-inheritance</td>
					<td>
							<a href="https://github.com/kwon37xi/freemarker-template-inheritance" target="_blank" class="noAjax">
								https://github.com/kwon37xi/freemarker-template-inheritance
							</a>
					</td>
					<td>
        					The Apache Software License, Version 2.0<br/>
					</td>
				</tr>
    			
    			<tr>
					<td>
							Apache Log4j
					</td>
					<td>1.2.17</td>
					<td>log4j:log4j</td>
					<td>
							<a href="http://logging.apache.org/log4j/1.2/" target="_blank" class="noAjax">
								http://logging.apache.org/log4j/1.2/
							</a>
					</td>
					<td>
        					The Apache Software License, Version 2.0<br/>
					</td>
				</tr>
    			
    			<tr>
					<td>
							MySQL java connector
					</td>
					<td>5.1.11</td>
					<td>mysql:mysql-connector-java</td>
					<td>
							<a href="http://dev.mysql.com/usingmysql/java/" target="_blank" class="noAjax">
								http://dev.mysql.com/usingmysql/java/
							</a>
					</td>
					<td>
        					The GNU General Public License, Version 2<br/>
					</td>
				</tr>
    			
    			<tr>
					<td>
							Ehcache Core
					</td>
					<td>2.4.3</td>
					<td>net.sf.ehcache:ehcache-core</td>
					<td>
							<a href="http://ehcache.org" target="_blank" class="noAjax">
								http://ehcache.org
							</a>
					</td>
					<td>
        					The Apache Software License, Version 2.0<br/>
					</td>
				</tr>
    			
    			<tr>
					<td>
							Apache Velocity
					</td>
					<td>1.7</td>
					<td>org.apache.velocity:velocity</td>
					<td>
							<a href="http://velocity.apache.org/engine/devel/" target="_blank" class="noAjax">
								http://velocity.apache.org/engine/devel/
							</a>
					</td>
					<td>
        					The Apache Software License, Version 2.0<br/>
					</td>
				</tr>
    			
    			<tr>
					<td>
							AspectJ runtime
					</td>
					<td>1.8.2</td>
					<td>org.aspectj:aspectjrt</td>
					<td>
							<a href="http://www.aspectj.org" target="_blank" class="noAjax">
								http://www.aspectj.org
							</a>
					</td>
					<td>
        					Eclipse Public License - Version 1.0<br/>
					</td>
				</tr>
    			
    			<tr>
					<td>
							dbUnit Extension
					</td>
					<td>2.4.9</td>
					<td>org.dbunit:dbunit</td>
					<td>
							<a href="http://dbunit.sourceforge.net" target="_blank" class="noAjax">
								http://dbunit.sourceforge.net
							</a>
					</td>
					<td>
        					GNU Lesser General Public License, Version 2.1<br/>
					</td>
				</tr>
    			
    			<tr>
					<td>
							Eclipse ECJ
					</td>
					<td>4.3.1</td>
					<td>org.eclipse.jdt.core.compiler:ecj</td>
					<td>
							<a href="http://www.eclipse.org/jdt/" target="_blank" class="noAjax">
								http://www.eclipse.org/jdt/
							</a>
					</td>
					<td>
        					Eclipse Public License v1.0<br/>
					</td>
				</tr>
    			
    			<tr>
					<td>
							FreeMarker
					</td>
					<td>2.3.19</td>
					<td>org.freemarker:freemarker</td>
					<td>
							<a href="http://freemarker.org" target="_blank" class="noAjax">
								http://freemarker.org
							</a>
					</td>
					<td>
        					BSD-style license<br/>
					</td>
				</tr>
    			
    			<tr>
					<td>
							Expression Language 3.0
					</td>
					<td>3.0.0</td>
					<td>org.glassfish:javax.el</td>
					<td>
							<a href="http://el-spec.java.net" target="_blank" class="noAjax">
								http://el-spec.java.net
							</a>
					</td>
					<td>
        					Dual license consisting of the CDDL v1.1 and GPL v2 with classpath
									exception<br/>
					</td>
				</tr>
    			
    			<tr>
					<td>
							Hamcrest All
					</td>
					<td>1.3</td>
					<td>org.hamcrest:hamcrest-all</td>
					<td>
							<a href="https://github.com/hamcrest/JavaHamcrest/hamcrest-all" target="_blank" class="noAjax">
								https://github.com/hamcrest/JavaHamcrest/hamcrest-all
							</a>
					</td>
					<td>
        					BSD Style License<br/>
					</td>
				</tr>
    			
    			<tr>
					<td>
							Hamcrest Core
					</td>
					<td>1.3</td>
					<td>org.hamcrest:hamcrest-core</td>
					<td>
							<a href="https://github.com/hamcrest/JavaHamcrest/hamcrest-core" target="_blank" class="noAjax">
								https://github.com/hamcrest/JavaHamcrest/hamcrest-core
							</a>
					</td>
					<td>
        					BSD Style License<br/>
					</td>
				</tr>
    			
    			<tr>
					<td>
							Hibernate/c3p0 Integration
					</td>
					<td>4.3.6.Final</td>
					<td>org.hibernate:hibernate-c3p0</td>
					<td>
							<a href="http://hibernate.org" target="_blank" class="noAjax">
								http://hibernate.org
							</a>
					</td>
					<td>
        					GNU Lesser General Public License<br/>
					</td>
				</tr>
    			
    			<tr>
					<td>
							Core Hibernate O/RM functionality
					</td>
					<td>4.3.6.Final</td>
					<td>org.hibernate:hibernate-core</td>
					<td>
							<a href="http://hibernate.org" target="_blank" class="noAjax">
								http://hibernate.org
							</a>
					</td>
					<td>
        					GNU Lesser General Public License<br/>
					</td>
				</tr>
    			
    			<tr>
					<td>
							Hibernate/Ehcache Integration
					</td>
					<td>4.3.6.Final</td>
					<td>org.hibernate:hibernate-ehcache</td>
					<td>
							<a href="http://hibernate.org" target="_blank" class="noAjax">
								http://hibernate.org
							</a>
					</td>
					<td>
        					GNU Lesser General Public License<br/>
					</td>
				</tr>
    			
    			<tr>
					<td>
							Hibernate JPA Support
					</td>
					<td>4.3.6.Final</td>
					<td>org.hibernate:hibernate-entitymanager</td>
					<td>
							<a href="http://hibernate.org" target="_blank" class="noAjax">
								http://hibernate.org
							</a>
					</td>
					<td>
        					GNU Lesser General Public License<br/>
					</td>
				</tr>
    			
    			<tr>
					<td>
							Hibernate Validator Engine
					</td>
					<td>5.1.2.Final</td>
					<td>org.hibernate:hibernate-validator</td>
					<td>
							<a href="http://validator.hibernate.org/hibernate-validator" target="_blank" class="noAjax">
								http://validator.hibernate.org/hibernate-validator
							</a>
					</td>
					<td>
        					Apache License, Version 2.0<br/>
					</td>
				</tr>
    			
    			<tr>
					<td>
							Hibernate Commons Annotations
					</td>
					<td>4.0.5.Final</td>
					<td>org.hibernate.common:hibernate-commons-annotations</td>
					<td>
							<a href="http://hibernate.org" target="_blank" class="noAjax">
								http://hibernate.org
							</a>
					</td>
					<td>
        					GNU Lesser General Public License<br/>
					</td>
				</tr>
    			
    			<tr>
					<td>
							Java Persistence API, Version 2.1
					</td>
					<td>1.0.0.Final</td>
					<td>org.hibernate.javax.persistence:hibernate-jpa-2.1-api</td>
					<td>
							<a href="http://hibernate.org" target="_blank" class="noAjax">
								http://hibernate.org
							</a>
					</td>
					<td>
        					Eclipse Distribution License (EDL), Version 1.0<br/>
        					Eclipse Public License (EPL), Version 1.0<br/>
					</td>
				</tr>
    			
    			<tr>
					<td>
							Javassist
					</td>
					<td>3.18.1-GA</td>
					<td>org.javassist:javassist</td>
					<td>
							<a href="http://www.javassist.org/" target="_blank" class="noAjax">
								http://www.javassist.org/
							</a>
					</td>
					<td>
        					GNU Lesser General Public License, version 2.1<br/>
        					Mozilla Public License version 1.1<br/>
        					The Apache Software License, Version 2.0<br/>
					</td>
				</tr>
    			
    			<tr>
					<td>
							Java Annotation Indexer
					</td>
					<td>1.1.0.Final</td>
					<td>org.jboss:jandex</td>
					<td>
							<a href="http://www.jboss.org/jandex" target="_blank" class="noAjax">
								http://www.jboss.org/jandex
							</a>
					</td>
					<td>
        					AL 2.0<br/>
					</td>
				</tr>
    			
    			<tr>
					<td>
							JBoss Logging 3
					</td>
					<td>3.1.3.GA</td>
					<td>org.jboss.logging:jboss-logging</td>
					<td>
							<a href="http://www.jboss.org" target="_blank" class="noAjax">
								http://www.jboss.org
							</a>
					</td>
					<td>
        					The Apache Software License, Version 2.0<br/>
					</td>
				</tr>
    			
    			<tr>
					<td>
							JBoss Logging I18n Annotations
					</td>
					<td>1.2.0.Beta1</td>
					<td>org.jboss.logging:jboss-logging-annotations</td>
					<td>
							<a href="http://www.jboss.org/jboss-logging-tools-parent/jboss-logging-annotations" target="_blank" class="noAjax">
								http://www.jboss.org/jboss-logging-tools-parent/jboss-logging-annotations
							</a>
					</td>
					<td>
        					Public Domain<br/>
					</td>
				</tr>
    			
    			<tr>
					<td>
							Java Transaction API
					</td>
					<td>1.0.0.Final</td>
					<td>org.jboss.spec.javax.transaction:jboss-transaction-api_1.2_spec</td>
					<td>
							<a href="http://www.jboss.org/jboss-transaction-api_1.2_spec" target="_blank" class="noAjax">
								http://www.jboss.org/jboss-transaction-api_1.2_spec
							</a>
					</td>
					<td>
        					Common Development and Distribution License (CDDL), version 1.0<br/>
        					GNU General Public License, Version 2 with the Classpath Exception<br/>
					</td>
				</tr>
    			
    			<tr>
					<td>
							Mockito
					</td>
					<td>1.9.5</td>
					<td>org.mockito:mockito-all</td>
					<td>
							<a href="http://www.mockito.org" target="_blank" class="noAjax">
								http://www.mockito.org
							</a>
					</td>
					<td>
        					The MIT License<br/>
					</td>
				</tr>
    			
    			<tr>
					<td>
							Project Lombok
					</td>
					<td>1.16.0</td>
					<td>org.projectlombok:lombok</td>
					<td>
							<a href="http://projectlombok.org" target="_blank" class="noAjax">
								http://projectlombok.org
							</a>
					</td>
					<td>
        					The MIT License<br/>
					</td>
				</tr>
    			
    			<tr>
					<td>
							JCL 1.1.1 implemented over SLF4J
					</td>
					<td>1.7.7</td>
					<td>org.slf4j:jcl-over-slf4j</td>
					<td>
							<a href="http://www.slf4j.org" target="_blank" class="noAjax">
								http://www.slf4j.org
							</a>
					</td>
					<td>
        					The MIT License<br/>
					</td>
				</tr>
    			
    			<tr>
					<td>
							SLF4J API Module
					</td>
					<td>1.7.7</td>
					<td>org.slf4j:slf4j-api</td>
					<td>
							<a href="http://www.slf4j.org" target="_blank" class="noAjax">
								http://www.slf4j.org
							</a>
					</td>
					<td>
        					The MIT License<br/>
					</td>
				</tr>
    			
    			<tr>
					<td>
							SLF4J LOG4J-12 Binding
					</td>
					<td>1.7.7</td>
					<td>org.slf4j:slf4j-log4j12</td>
					<td>
							<a href="http://www.slf4j.org" target="_blank" class="noAjax">
								http://www.slf4j.org
							</a>
					</td>
					<td>
        					The MIT License<br/>
					</td>
				</tr>
    			
    			<tr>
					<td>
							Spring AOP
					</td>
					<td>4.0.7.RELEASE</td>
					<td>org.springframework:spring-aop</td>
					<td>
							<a href="https://github.com/spring-projects/spring-framework" target="_blank" class="noAjax">
								https://github.com/spring-projects/spring-framework
							</a>
					</td>
					<td>
        					The Apache Software License, Version 2.0<br/>
					</td>
				</tr>
    			
    			<tr>
					<td>
							Spring Beans
					</td>
					<td>4.1.0.RELEASE</td>
					<td>org.springframework:spring-beans</td>
					<td>
							<a href="https://github.com/spring-projects/spring-framework" target="_blank" class="noAjax">
								https://github.com/spring-projects/spring-framework
							</a>
					</td>
					<td>
        					The Apache Software License, Version 2.0<br/>
					</td>
				</tr>
    			
    			<tr>
					<td>
							Spring Context
					</td>
					<td>4.1.0.RELEASE</td>
					<td>org.springframework:spring-context</td>
					<td>
							<a href="https://github.com/spring-projects/spring-framework" target="_blank" class="noAjax">
								https://github.com/spring-projects/spring-framework
							</a>
					</td>
					<td>
        					The Apache Software License, Version 2.0<br/>
					</td>
				</tr>
    			
    			<tr>
					<td>
							Spring Context Support
					</td>
					<td>4.1.0.RELEASE</td>
					<td>org.springframework:spring-context-support</td>
					<td>
							<a href="https://github.com/spring-projects/spring-framework" target="_blank" class="noAjax">
								https://github.com/spring-projects/spring-framework
							</a>
					</td>
					<td>
        					The Apache Software License, Version 2.0<br/>
					</td>
				</tr>
    			
    			<tr>
					<td>
							Spring Core
					</td>
					<td>4.1.0.RELEASE</td>
					<td>org.springframework:spring-core</td>
					<td>
							<a href="https://github.com/spring-projects/spring-framework" target="_blank" class="noAjax">
								https://github.com/spring-projects/spring-framework
							</a>
					</td>
					<td>
        					The Apache Software License, Version 2.0<br/>
					</td>
				</tr>
    			
    			<tr>
					<td>
							Spring Expression Language (SpEL)
					</td>
					<td>4.1.0.RELEASE</td>
					<td>org.springframework:spring-expression</td>
					<td>
							<a href="https://github.com/spring-projects/spring-framework" target="_blank" class="noAjax">
								https://github.com/spring-projects/spring-framework
							</a>
					</td>
					<td>
        					The Apache Software License, Version 2.0<br/>
					</td>
				</tr>
    			
    			<tr>
					<td>
							Spring JDBC
					</td>
					<td>4.1.0.RELEASE</td>
					<td>org.springframework:spring-jdbc</td>
					<td>
							<a href="https://github.com/spring-projects/spring-framework" target="_blank" class="noAjax">
								https://github.com/spring-projects/spring-framework
							</a>
					</td>
					<td>
        					The Apache Software License, Version 2.0<br/>
					</td>
				</tr>
    			
    			<tr>
					<td>
							Spring Object/Relational Mapping
					</td>
					<td>4.1.0.RELEASE</td>
					<td>org.springframework:spring-orm</td>
					<td>
							<a href="https://github.com/spring-projects/spring-framework" target="_blank" class="noAjax">
								https://github.com/spring-projects/spring-framework
							</a>
					</td>
					<td>
        					The Apache Software License, Version 2.0<br/>
					</td>
				</tr>
    			
    			<tr>
					<td>
							Spring TestContext Framework
					</td>
					<td>4.1.0.RELEASE</td>
					<td>org.springframework:spring-test</td>
					<td>
							<a href="https://github.com/spring-projects/spring-framework" target="_blank" class="noAjax">
								https://github.com/spring-projects/spring-framework
							</a>
					</td>
					<td>
        					The Apache Software License, Version 2.0<br/>
					</td>
				</tr>
    			
    			<tr>
					<td>
							Spring Transaction
					</td>
					<td>4.1.0.RELEASE</td>
					<td>org.springframework:spring-tx</td>
					<td>
							<a href="https://github.com/spring-projects/spring-framework" target="_blank" class="noAjax">
								https://github.com/spring-projects/spring-framework
							</a>
					</td>
					<td>
        					The Apache Software License, Version 2.0<br/>
					</td>
				</tr>
    			
    			<tr>
					<td>
							Spring Web
					</td>
					<td>4.1.0.RELEASE</td>
					<td>org.springframework:spring-web</td>
					<td>
							<a href="https://github.com/spring-projects/spring-framework" target="_blank" class="noAjax">
								https://github.com/spring-projects/spring-framework
							</a>
					</td>
					<td>
        					The Apache Software License, Version 2.0<br/>
					</td>
				</tr>
    			
    			<tr>
					<td>
							Spring Web MVC
					</td>
					<td>4.1.0.RELEASE</td>
					<td>org.springframework:spring-webmvc</td>
					<td>
							<a href="https://github.com/spring-projects/spring-framework" target="_blank" class="noAjax">
								https://github.com/spring-projects/spring-framework
							</a>
					</td>
					<td>
        					The Apache Software License, Version 2.0<br/>
					</td>
				</tr>
    			
    			<tr>
					<td>
							Spring Data Core
					</td>
					<td>1.9.0.RELEASE</td>
					<td>org.springframework.data:spring-data-commons</td>
					<td>
							<a href="http://www.spring.io/spring-data/spring-data-commons" target="_blank" class="noAjax">
								http://www.spring.io/spring-data/spring-data-commons
							</a>
					</td>
					<td>
        					Apache License, Version 2.0<br/>
					</td>
				</tr>
    			
    			<tr>
					<td>
							Spring Data JPA
					</td>
					<td>1.7.0.RELEASE</td>
					<td>org.springframework.data:spring-data-jpa</td>
					<td>
							<a href="http://projects.spring.io/spring-data-jpa" target="_blank" class="noAjax">
								http://projects.spring.io/spring-data-jpa
							</a>
					</td>
					<td>
        					Apache License, Version 2.0<br/>
					</td>
				</tr>
    			
    			<tr>
					<td>
							spring-security-acl
					</td>
					<td>3.2.5.RELEASE</td>
					<td>org.springframework.security:spring-security-acl</td>
					<td>
							<a href="http://spring.io/spring-security" target="_blank" class="noAjax">
								http://spring.io/spring-security
							</a>
					</td>
					<td>
        					The Apache Software License, Version 2.0<br/>
					</td>
				</tr>
    			
    			<tr>
					<td>
							spring-security-config
					</td>
					<td>3.2.5.RELEASE</td>
					<td>org.springframework.security:spring-security-config</td>
					<td>
							<a href="http://spring.io/spring-security" target="_blank" class="noAjax">
								http://spring.io/spring-security
							</a>
					</td>
					<td>
        					The Apache Software License, Version 2.0<br/>
					</td>
				</tr>
    			
    			<tr>
					<td>
							spring-security-core
					</td>
					<td>3.2.5.RELEASE</td>
					<td>org.springframework.security:spring-security-core</td>
					<td>
							<a href="http://spring.io/spring-security" target="_blank" class="noAjax">
								http://spring.io/spring-security
							</a>
					</td>
					<td>
        					The Apache Software License, Version 2.0<br/>
					</td>
				</tr>
    			
    			<tr>
					<td>
							spring-security-taglibs
					</td>
					<td>3.2.5.RELEASE</td>
					<td>org.springframework.security:spring-security-taglibs</td>
					<td>
							<a href="http://spring.io/spring-security" target="_blank" class="noAjax">
								http://spring.io/spring-security
							</a>
					</td>
					<td>
        					The Apache Software License, Version 2.0<br/>
					</td>
				</tr>
    			
    			<tr>
					<td>
							spring-security-web
					</td>
					<td>3.2.5.RELEASE</td>
					<td>org.springframework.security:spring-security-web</td>
					<td>
							<a href="http://spring.io/spring-security" target="_blank" class="noAjax">
								http://spring.io/spring-security
							</a>
					</td>
					<td>
        					The Apache Software License, Version 2.0<br/>
					</td>
				</tr>
    			
    			<tr>
					<td>
							XML Commons External Components XML APIs
					</td>
					<td>1.0.b2</td>
					<td>xml-apis:xml-apis</td>
					<td>
							<a href="http://xml.apache.org/commons/#external" target="_blank" class="noAjax">
								http://xml.apache.org/commons/#external
							</a>
					</td>
					<td>
        					The Apache Software License, Version 2.0<br/>
					</td>
				</tr>
		</tbody>
	</table>
